#image{
  text-align:center;
  background-image: url("../images/landing.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
  color:white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 10px;
  padding-left: -20px;


}
.jumbotron{
  margin:0;
  padding:0;
}
#breakfast{
  background-image: url("../images/foodtop/breakfast.jpg");
  padding:70px;
  color:white;
  padding-left: -40px;
  margin-left: -20px;
  margin-top: -10px;

}

#lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  padding:70px;
  color:white;
    margin-top: -10px;
    padding-right: 20px;

}
#dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  padding:70px;
  color:white;
    margin-top: -10px;
    padding-right: -20px;
    width: 305px;
}
.row{
  padding:0;
  margin:0;
}
.hour{
  padding:18px;
  text-align: center;
  margin-right: -20px;
}
.time{
  text-align: center;
  padding: 19px;
  background-color: #F15A29;
  padding-right: 70px;
  margin-right: 0px;
}
#pictures{
  background-image: url("../images/backgrounds/foodsBg.jpg");
  padding-top:100px;
  padding-bottom:200px;
  padding-left:120px;
  color:white;

}
#fastfood{
  padding:60px;
}

#drinks{
  padding-bottom:50px;
}
#bar{
  background-color:#C0C0C0;
}
#pictures{
  background-color: white;
  font-weight: bold;
  text-decoration-color: white;
}

h4{
  font-size: 30px;
  font-weight: bold;
}
#Food{
  padding:20px;
}
.social{
  background-color: #F15A29;
  text-align: center;
}
.mail{
  background-image: url("../images/backgrounds/subscribe.jpg");
  color:white;
  text-align: center;
  padding: 60px;
}
